* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

/*###Navingation Bar####*/

.navbar {
	height: 115px;
	border-bottom: 1px solid rgb(223,225,229);
}

.top .logo {
	height: 30px;
	width: 89px;
	margin: 30px 30px 0 28px;
} 

.top input {
	height: 40px;
	width: 634px;
	font: 16px arial, sans-serif;
	border-radius: 35px;
	padding-left: 20px;
	border: 1px solid rgb(223,225,229);
	position: relative;
	top: -10px;
}

.top .app {
	height: 30px;
	width: 30px;
	margin-right: 15px;
}

.top .emailid {
	height: 35px;
	width: 35px;
	border-radius: 100%;	
}

.lefticon {
	display: inline-block;
	float: right;
	margin-right: 35px;
	margin-top: 25px;
}

.mic {
	height: 20px;
	width: auto;
	position: relative;
	right: 80px;
	bottom: 4px;
}

.search {
	height: 20px;
	width: auto;
	position: relative;
	right: 60px;
	bottom: 4px;
}

.bottom li {
	display: inline-block;
	margin-left: 35px;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: 100;
	position: relative;
	left: 130px;
	top: 9px;
}
.bottom a {
	text-decoration: none;
	color: #777777;
}

.bottom a:hover {
	text-decoration: none;
	color: black;
}

.my {
	margin-right: 80px;
}








/*### Search Result - Video Link###*/

.video {
	width: 635px;
	margin-left: 150px;
	padding: 15px 0 0 0;
}

.video p {
	font-size: 13px;
	color: #777777;
	font-family: arial, sans-serif;
}

.video h3 {
	font-size: 18px;
	line-height: 1.33;
	font-weight: normal;
	margin: 30px 0 0 10px;
}

.container {
	display: grid;
	width: 635px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 20px;
	grid-gap: 10px;
}

.card {
	border: 1px solid rgb(223,225,229);
	border-radius: 15px;
}

.card .first{
	height: 115px;
	width: 100%;
	background-image: url(../img/grid/img1.jpg);
	background-size: contain;
	border-radius: 13px 13px 0px 0;
}

.card .sec{
	height: 115px;
	width: 100%;
	background-image: url(../img/grid/img2.jpg);
	background-size: contain;
	border-radius: 13px 13px 0px 0;
}

.card .third{
	height: 115px;
	width: 100%;
	background-image: url(../img/grid/img3.jpg);
	background-size: contain;
	border-radius: 13px 13px 0px 0;
}

.card .time {
	color: white;
	font-weight: bold;
	position: relative;
	top: -25px;
	z-index: 5;
	background-color: black;
	display: inline;
	padding: 2px 3px 2px 3px;
	float: right;
	margin-right: 3px;
}

.card h3 {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 20px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.4;
	color: blue;
}

.card a {
	text-decoration: none;
}

.card a:hover {
	text-decoration: underline;
}

.card .two {
	margin-left: 15px;
} 

.card .three {
	margin-left: 15px;
	margin-bottom: 10px;
}

.card span {
	color: green;
}









/*### Search Result###*/
.result {
	width: 635px;
	margin-left: 150px;
}

.container2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-auto-rows: auto; 
	width: 635px;
	margin-top: 40px;
	grid-row-gap: 35px;
	margin-left: 10px;
}

.item .head {
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	color: blue;
	margin-bottom: 3px;
}

.item .head:hover {
	display: inline-block;
	font-size: 18px;
	text-decoration: underline;
	color: blue;
	margin-bottom: 3px;
	padding-bottom: 0;
}

.item .link {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 6px;
	color: darkgreen;
	font-size: 14px;
	font-family: arial;
	padding: 0;
}

.item .info {
	font-family: arial;
	color: #6a6a6a;
	font-size: small;
	font-style: normal;
	line-height: 1.5;
	margin-bottom: 6px;
}

.item .extra {
	margin-bottom: 6px;
}

.extra div {
	display: inline-block;
	margin-right: 25px;
	
}

.extra p {
	color: #777;
	font-size: small;
	padding-bottom: 5px;
}

.extra a {
	color: blue;
	text-decoration: none;
}

.extra a:hover {
	color: blue;
	text-decoration: underline;
}

.item .other {
	text-decoration: none;
	font-size: small;
	margin-right: 20px;
	color: blue;
}

.item .other:hover {
	text-decoration: underline;
	font-size: small;
	margin-right: 20px;
	color: blue;
}

.container2 .qa {
	border: 1px solid rgb(223,225,229);
	border-radius: 8px;
	margin-bottom: 6px;
	margin-top: 1px;
	margin-left: -10px;
}


.qa p {
	padding: 13px;
	border-bottom: 1px solid rgb(223,225,229); 
	font-size: 16px;
	color: #222;

}

.qa .title {
	font-size: 18px;
	color: #808080;
}

.product {
	border: 1px solid rgb(223,225,229);
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: -10px;
}

.product h3 {
	font-size: 18px;
	color: #222;
	font-weight: normal;
	display: inline-block;
	padding: 15px;
}

.product .more {
	color: #777;
	font-size: small;
	text-decoration: none;
	float: right;
	margin: 10px 15px 0 10px;
}

.product .more:hover {
	color: #777;
	font-size: small;
	text-decoration: none;
	float: right;
	margin: 10px 15px 0 10px;
	text-decoration: underline;
}


.gamelist {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 150px;
	grid-gap: 10px; 
	padding-left: 15px;
	padding-right: 15px;
}

 .gameone div {
	height: 85px;
	padding: 0 2px 0 2px;
}

.gameone p {
	padding-top: 10px;
	text-decoration: none;
	font-size: 12px;
	color: blue;
}

.gameone a {
	text-decoration: none;
}

.aa div {
	background-image: url(../img/gamelist/img1.jpg);
	background-size: cover;
}

.bb div {
	background-image: url(../img/gamelist/img2.jpg);
	background-size: cover;
}

.cc div {
	background-image: url(../img/gamelist/img3.jpg);
	background-size: cover;
}

.dd div {
	background-image: url(../img/gamelist/img4.jpg);
	background-size: cover;
}

.ee div {
	background-image: url(../img/gamelist/img5.jpg);
	background-size: cover;
}

.ff div {
	background-image: url(../img/gamelist/img5.jpg);
	background-size: cover;
}

.gg div {
	background-image: url(../img/gamelist/img6.jpg);
	background-size: cover;
}


.related h3 {
	font-size: 18px;
	color: #222;
	font-weight: normal;
}

.left  p {
	display: inline-block;
	width: 250px;
	margin-right: 10px;
	font-size: 14px;
	padding-bottom: 5px;e;
}

.left a {
	text-decoration: none;
	color: blue;
}

.left a:hover {
	text-decoration: underline;
}

.left span {
	font-weight: bold;
}

footer {
	height: 85px;
}



/*### GOOOOOOOGLE ###*/

.lettterored img {
	display: flex;
	align-items: flex-end;
}

.rowtwo td {
	color: #4285f3;
	text-align: center;
}

.rowtwo a {
	color: #4285f3;
	text-align: center;
	text-decoration: none;
}

.rowtwo a:hover {
	color: #4285f3;
	text-decoration: underline;
}

.rowtwo .next {
	text-align: right;
	padding-right: 5px;
}

.google_search_more {
	margin: 30px auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*### Footer ###*/

footer {
	height: 80px;
	background-color: #f2f2f2; 
}

.footertop {
	padding-left: 150px;
	margin-top: 20px;
	border-top: 1px solid rgb(223,225,229);
}

.footertop span {
	color: #333;
	font-weight: bold;
	font-size: 13px;
}

.footertop p {
	color: #5f6368;
	font-size: 13px;
	padding-top: 10px;
}

.footertop a {
	color: #5f6368;
	font-size: 13px;
	text-decoration: none;
}

.footertop a:hover {
	color: grey;
	font-size: 13px;
}

.footerbot {
	margin-left: 150px;
	margin-top: 15px;
}

.footerbot a {
	font-size: 13px;
	color: #5f6368; 
	text-decoration: none;
	padding-right: 30px;
}

.footerbot a:hover {
	font-size: 13px;
	color: grey; 
	text-decoration: none;
	padding-right: 30px;
}